{% extends 'final/base.html' %}

{% block title %}
テキストファイルの類似度計算
{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="pt-5"></div>
        <div class="row">
            <!-- {% for item in spot %}
            <p>item</p>
            {% endfor %} -->
            {% for item in object_list %}
            <div class="col-md-4">
                <div class="card">
                    <img class='img-fluid' src="/media/{{item.image}}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text"><a
                                href="https://www.google.com/maps/search/?api=1&query={{item.lat}},{{item.lon}}">緯度:{{ item.lat }}</a></p>
                        <p class="card-text"><a
                                href="https://www.google.com/maps/search/?api=1&query={{item.lat}},{{item.lon}}">経度:{{ item.lon }}</a></p>
                        <p class="card-text">詳細:{{ item.chat }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</main>
{% endblock content %}